<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="componente-prueba-styles.html">
<link rel="import" href="./bower_components/cells-component-app-header/cells-component-app-header.html">
<!--
`<componente-prueba>` description.

Example:

```html
<componente-prueba></componente-prueba>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --componente-prueba  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="componente-prueba">
  <template>
    <style include="componente-prueba-styles componente-prueba-shared-styles"></style>
    <slot>
    </slot>
    <cells-component-app-header
      text="Hola Faculties"
      icon-left="back"
      icon-right-secondary="help"
      icon-right="menu">
    </cells-component-app-header>    
    <h1>Prueba componente en Cells</h1>
    <p>Welcome to Cells</p>

  </template>
  <script src="componente-prueba.js"></script>
</dom-module>
